@{
    ViewData["Title"] = "Lykke Report 2016";
}

<section class="section">
    <div class="container">
      <div class="r_block r_block--results">
        <div class="r_block__header">
          <h3>Voting Results</h3>
<span class="middot">&middot;</span>         
          <a href="/VotingProtocol.pdf">Details</a>
        </div>

        <div class="lead">Lykke 2016 annual report has been approved</div>

        <div class="r_results">
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="99.898"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_va">99.898</span>%</span>
              <div class="r_result__accent">1013398846</div>
              <div class="r_result__text">Voted <b>YES</b></div>
            </div>
          </div>
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="0.036"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_va">0.036</span>%</span>
              <div class="r_result__accent">361654</div>
              <div class="r_result__text">Voted <b>NO</b></div>
            </div>
          </div>
          <div class="r_result">
            <div class="r_result__candle">
              <div class="r_candle" data-percent="0.066"></div>
            </div>
            <div class="r_result__info">
              <span class="r_result__desc"><span class="_va">0.066</span>%</span>
              <div class="r_result__accent">673379</div>
              <div class="r_result__text">Voted <b>NOT&nbsp;SURE</b></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>