@{
    ViewData["Title"] = "Lykke Report 2016";
}

   <section class="section">
    <div class="container">

      <div class="r_block r_block--message">
        <div class="valign" style="min-height: 347px;">
          <div class="valign_row">
            <div class="valign_cell">

              <div class="r_message">
                <div class="r_message__icon">
                  <img src="img/success.svg" alt="success" width="72" height="72">
                </div>
                <div class="r_message__title">Thank you for vote!</div>
                <div class="r_message__text">We will publish the results when the voting is over.</div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>