@model Report2016.Models.VoteViewModel

@{
    ViewData["Title"] = "Lykke Report 2016";
}

  <section class="section">
    <div class="container">
      <div class="r_block">

			@if (Model.User != null){
			  <div class="user_badge user_badge--small">
              <div class="user_badge__img"><img src="/img/user_default.svg" alt="user" width="40" height="40"></div>
              <div class="user_badge__title">@Model.User</div>
              </div>
			}


        <h5 class="text-center">Do you accept the 2017 Annual Report?</h5>
        
        <form action="@Url.Action("MyVote")" class="form form_vote form--simple" method="post">

        @if (!string.IsNullOrEmpty(Model.Token))
        {
			<input type="hidden" name="Token" value="@Model.Token"/>
        }
				
          <div class="form-group">
            <div class="radio-group">
              <div class="radio radio--plate">
                <input type="radio" name="Yes" id="yes">
                <label for="yes" class="control-label">Yes</label>
              </div>
              <div class="radio radio--plate">
                <input type="radio" name="No" id="no">
                <label for="no" class="control-label">No</label>
              </div>
            </div>
          </div>
          
        <h5 class="text-center">As a coinholder, would you be interested in testing the redesign of Lykke's mobile</h5>
				
          <div class="form-group">
            <div class="radio-group">
              <div class="radio radio--plate">
                <input type="radio" name="Yes" id="yes">
                <label for="yes" class="control-label">Yes</label>
              </div>
              <div class="radio radio--plate">
                <input type="radio" name="No" id="no">
                <label for="no" class="control-label">No</label>
              </div>
            </div>
          </div>
          
          <h5 class="text-center">Do you have any question following the 2018 Coinholder meeting?</h5>
				
          <div class="form-group">
            <div class="radio-group">
              <div class="radio radio--plate">
                <input type="radio" name="Yes" id="yes">
                <label for="yes" class="control-label">Yes</label>
              </div>
              <div class="radio radio--plate">
                <input type="radio" name="No" id="no">
                <label for="no" class="control-label">No</label>
              </div>
            </div>
          </div>          
          

          <div class="form-group">
            <div class="clearfix">
              <label for="comment" class="control-label">Please type your comment here</label>
              <span class="control-label pull-right _counter">140</span>
            </div>
            <textarea id="comment" name="Comment" maxlength="140" class="form-control" placeholder="Your comment"></textarea>
          </div>

          <div class="form-submit">
            <div class="row">
              <div class="col-sm-8 automargin">
                <button class="btn btn--primary btn-block" type="submit" disabled>Vote</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>