@{
    ViewData["Title"] = "Lykke Report 2017";
}

<section class="section">
    <div class="container">
      <div class="r_block r_block--results">
        <div class="r_block__header">
          <h3>Kindly note that voting is now finished. If you have any further questions please contact our support team.</h3>
        </div>


      </div>
    </div>
  </section>
